/*-------------
RESET 
---------------*/

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: black;

}

header {
    min-height: 83px;
}

main {
    height: calc(100vh - 168px);
}

footer {
    height: 85px;
    background-color: #222222;

}

/*-------------
HEADER
---------------*/

.flex-header {
    display: flex;
    justify-content: flex-end;
    padding: 5px 5px;
}

.flex-header button {
    background-color: grey;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid transparent;
}

.view {
    margin-right: 10px;
}